<!DOCTYPE html>
<html>

<body>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h2>Districts
                    <button type="button" class="btn btn-success pull-right" ng-click="addclicked()"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
                </h2>

                <ul class="list-group">

                    <a href="#" ng-class="{'active': item.DistrictId == selected}" class="list-group-item" ng-repeat="item in districts" ng-click="setSelected(item.DistrictId);setSelectedDt(item); $event.stopPropagation(); $event.preventDefault(); ">
                        {{item.Name}}
                        <!-- {{item.Lastname}} -->
                        <!-- <span ng-class="item.Position == 'Primary' ? 'primarysp' : 'secondarysp'">
                                {{item.Position}}
                        </span> -->
                    </a>
                </ul>
            </div>
            <div class="col-md-3 col-md-offset-1" ng-if="isSelectedDt">
                <h2>Details
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" ng-click="updateDistrict(selecteddt)"> 
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" >
                            </span>
                             Edit
                            </button>

                        <button type="button" class="btn btn-danger" ng-click="deleteDistrict(selecteddt)"> 
                        <span class="glyphicon glyphicon-trash" aria-hidden="true">
                            </span> 
                            Delete
                        </button>
                    </div>
                </h2>
                <div class="well">

                    Name: {{selecteddt.Name}}
                    <br>
                    <hr style="border-top: 1px solid black; background: transparent;">
                    <span ng-repeat="item in salespersons">
                        Sales Person: {{item.Firstname}} {{item.Lastname}}
                        <span ng-class="item.Position == 'Primary' ? 'primarysp' : 'secondarysp'">
                                                {{item.Position}}
                                            </span><br>
                                        </span>
                    <div ng-repeat="st in storesD">
                        <div>
                            <br> Stores: {{st.Name}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-1" ng-if="isAddClicked || isUpdate">
                <h2>Add new district</h2>
                <form name="District" ng-submit="onSubmit(District.$valid)">
                    <div class="form-group">
                        <label>Name: </label>
                        <input type="text" name="name" class="form-control" ng-model="adddt.Name" required>
                    </div>
                    <div ng-repeat = "item in adddt.SalesPersons" class = "form-group">
                        <div class = "row">
                        <div class="col-md-6">
                        <label for="singleSelect"> Sales Person: </label>
                        <select class="form-control" name="singleSelect" ng-model="item.SPId" required>
                                        <option disabled value="">Select Sales Person</option>
                                        <option ng-repeat="sp in salesperson" value={{sp.SPId}}>{{sp.Firstname}} {{sp.Lastname}}</option>
                                        </select>
                                    </div>
                        <div class="col-md-5">
                        <label for="singleSelect"> Position: </label>
                        <select class="form-control" name="singleSelect" ng-model="item.Position" required>
                                        <option disabled value="">Select position</option>
                                        <option value="Primary">Primary</option>
                                        <option value="Secondary">Secondary</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                            <label> Remove </label>
                                        <button type="button" class="btn btn-danger" ng-click="removeSp(item)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                                    </div>

                                </div>
                            </div>
                                                    <div>
                                                        <button type="button" class="btn btn-success" ng-click="pushNewSp()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add another</button>
                                                    </div>
                                                    
                                                    <br>
                    <!-- SUBMIT BUTTON -->
                    <input value="Submit" type="submit" class="btn btn-primary"></input><br>
                    <div ng-if="multiplePrimaries === true">
                            <span class="text-danger"> You cannot add multiple primary sales persons! </span>

                        </div>
                        <div ng-if="sameDistrictName === true">
                                <span class="text-danger"> The district is already into list! </span>  
                        </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>