<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 col-md-offset-2 align-center" >
                <h2>Districts</h2>
                <ul class="list-group">

                    <a href="#" ng-class="{'active': item.DistrictId == selected}" class="list-group-item" ng-repeat="item in district" ng-click="setSelected(item.DistrictId);$event.stopPropagation(); $event.preventDefault();setDistrict(item.DistrictId)">
                        {{item.Name}}</a>
                </ul>
            </div>
            <div class="col-md-3 align-center">
                <h2>Sales Persons</h2>
                <ul class="list-group">

                    <li class="list-group-item" ng-repeat="item in salesperson">
                        {{item.Firstname}} {{item.Lastname}}
                        <br>
                        <span ng-class="item.Position == 'Primary' ? 'primarysp' : 'secondarysp'">
                                                {{item.Position}}
                                            </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 align-center">
                <h2>Stores</h2>
                <ul class="list-group">

                    <li class="list-group-item" ng-repeat="item in stores">{{item.Name}}</li>
                </ul>
            </div>

        </div>
    </div>
</body>

</html>